In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
%matplotlib inline

In [3]:
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path2 = './csv_data/memory.csv'
memory = pd.read_csv(file_path2) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path3 = './csv_data/cylinder(1500).csv'
cylinder = pd.read_csv(file_path3) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path4 = './csv_data/machine_component(8471).csv'
machine_component = pd.read_csv(file_path4) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path5 = './csv_data/printed_circuit_board.csv'
printed_circuit_board = pd.read_csv(file_path5) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path6 = './csv_data/solid_state.csv'
solid_state = pd.read_csv(file_path6) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path7 = './csv_data/processor_&_controller.csv'
processor_controller = pd.read_csv(file_path7) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.

In [4]:
cylinder.head(5)

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,1309986,11.0,163570024,6.7,47356,66.4,2654725,74.0
1,1,1,2007-02-01,1212834,12.2,153964692,7.8,30174,12.9,2024849,21.2
2,2,2,2007-03-01,2830428,13.7,354053138,9.5,106289,8.3,6381509,16.5
3,3,3,2007-04-01,2644614,15.4,332723566,11.1,95673,15.6,6059834,23.4
4,4,4,2007-05-01,4231892,14.8,529997355,11.2,168058,14.4,9904167,20.8

In [5]:
num=0
for i in cylinder["수입금액"]:
    
    a = (cylinder["수입금액"][num+1] -  cylinder["수입금액"][num])/ cylinder["수입금액"][num]
    cylinder["수입금액증감률"][num] = a*100
    print(cylinder["수입금액증감률"][num])
    num+=1

-36.28262522172481
252.25359581096308
-9.987863278420155
75.65875429849592
2.6264741934332196
40.448884456607445
4.878733461308234
21.2105348096657
7.385228892735249
24.834810587847503
3.0547110621237628
-84.70528777781695
-1.5107736759597947
172.64173025607414
-18.41377770909528
85.52878038514153
-16.875014179730925
55.226216144909344
-13.719669440862736
44.32534143052683
-20.72238290341635
38.04382673537724
-18.677894591973438
-89.392156499803
1.288762588493369
153.1439962591982
-15.525957612288547
74.05109909080446
15.54554892120106
9.058445831878817
10.85364061876876
37.76839474381793
-10.113247481480464
49.65521195672948
-10.45073854508024
-76.19289383537223
-12.259935064157093
124.33705655842915
-4.305165833794913
88.7468356040657
-8.166972204998247
41.91311112660499
11.940753918795219
10.64323729972465
6.66271381417557
12.40379571416268
5.2007620215163115
-84.41919593198793
66.52430732619412
39.142306661732995
14.810637322329207
16.723508598174135
12.565776418341443
27.392592817738333
-1.2800385562405756
25.367420479839907
-5.455309567322892
23.876181116009345
-4.611198625232708
-82.01246921952625
-21.868974184326404
145.56315459892195
-22.647179415382464
102.16546757939508
-21.20689875684248
73.13971277498001
-23.72715703025573
58.69808375431739
-16.832478778115124
47.251680375864055
-5.702395841074137
-82.49343986049749
-16.736902595536826
158.19175245873353
-9.480573289553993
66.30015897312222
-7.20743917345148
60.565042387747425
-14.215594744808572
52.068142295784995
-13.508282791983836
41.173322347630595
-12.51384247019504
-83.81090581497119
16.09991899411827
102.56262466156518
9.820174995226381
47.63024935054309
1.2209259361894733
35.683600300237956
0.7307554558646236
24.382671227045787
-1.7948232755323474
22.79407845918589
5.476707965665408
-81.50100075861407
-12.048708150345064
136.04098440387796
-10.322896147389878
56.46527558645029
-7.131654536803708
39.8798228969007
-1.0413746326023061
29.475082287320976
-2.445835985116292
20.30108553829531
5.254927747750637
-83.51853262732848
-18.43212259190348
160.1651990960804
0.07079511078073393
61.69428897166662
8.686352973644267
23.212922664362807
18.529050677369536
22.990120360073067
7.731780144607227
22.03543752825441
-2.3371284515851967
-86.7452715870939
-14.117414668983017
182.45736123233704
-21.72207305207685
95.07480481930281
7.446199031110831
25.450903588776434
9.62683364999437
19.664220433067552
6.668305983040808
27.81606978972901
-0.0815009792027877
-74.69263202348598
-26.44331700489853
200.49306146345032
-35.33126325509655
115.59993786198142
-33.078117232981974
78.61590897721167
-22.024508275774725
52.583869060958556
-10.70756715706042
34.120567936810325
-11.548325949323816
-82.54707022767337
-25.59340096604985
179.01936347910194
-8.797788853067527
59.57183352265169
-6.981339851437074
58.837549898012554
-4.251846735093888
36.565184137977035
0.953878560802823
12.384246319885536
13.667394072941534
-89.1203354717056
39.298147184274384
81.17128112057105
31.559464946725026
17.6967538866222
6.607668136728748
13.761820695384655
7.727943745943904
25.266786356426575
-1.4679917241160632
22.58500686791453
8.477802128758984
-85.08463200826678
-25.05137912385073
232.74426324144898
-25.775128654983444
89.00277125664874
-8.980386852427973
41.10950424978494
-10.002948805132124
31.67715610857308
-7.235291578538439
27.568787300502866
-7.786348839344949
-87.50755627944855
33.1059762262197
74.57957735244976
10.312661308163115
50.011698251946925
-2.1552166744487478
28.558925505773054
9.706475347594983
13.655151305832373

/tmp/ipykernel_60270/743058380.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cylinder["수입금액증감률"][num] = a*100

KeyError: 189

In [ ]:
cylinder = cylinder.drop(188)
cylinder

In [ ]:
num=0
for i in memory["수입금액"]:
    
    a = (memory["수입금액"][num+1] -  memory["수입금액"][num])/ memory["수입금액"][num]
    memory["수입금액증감률"][num] = a*100
    print(memory["수입금액증감률"][num])
    num+=1
memory = memory.drop(188)
memory
memory.head(5)

In [ ]:
num=0
for i in machine_component["수입금액"]:
    
    a = (machine_component["수입금액"][num+1] -  machine_component["수입금액"][num])/ machine_component["수입금액"][num]
    machine_component["수입금액증감률"][num] = a*100
    print(machine_component["수입금액증감률"][num])
    num+=1

In [ ]:
machine_component = machine_component.drop(188)
machine_component

In [ ]:
num=0
for i in printed_circuit_board["수입금액"]:
    
    a = (printed_circuit_board["수입금액"][num+1] -  printed_circuit_board["수입금액"][num])/printed_circuit_board["수입금액"][num]
    printed_circuit_board["수입금액증감률"][num] = a*100
    print(printed_circuit_board["수입금액증감률"][num])
    num+=1

In [ ]:
printed_circuit_board = printed_circuit_board.drop(188)
printed_circuit_board

In [6]:
num=0
for i in solid_state["수입금액"]:
    
    a = (solid_state["수입금액"][num+1] -  solid_state["수입금액"][num])/solid_state["수입금액"][num]
    solid_state["수입금액증감률"][num] = a*100
    print(solid_state["수입금액증감률"][num])
    num+=1

-16.22838966588967
103.4579208996971
-17.268569963244722
61.03146928408455
4.77677377960755
29.18699352942377
-2.611392005056091
20.4060856057011
6.75604662130297
25.609309722450114
11.46188165074006
-69.48544409210665
-19.88788277176241
143.5026321369633
-27.63668029683477
80.95235603737848
-19.25302229020347
53.025306075678316
-20.176206299433705
41.63473743766838
-18.686393055472188
35.82310282771769
-21.568377574044785
-93.95710476263297
7.916172400158166
93.94328008207533
28.28399236742174
49.597949986745604
18.063595195904707
23.59062445280124
22.268774330223113
20.817975147328227
19.513052850801074
19.550521436405393
11.730559613349913
-75.23194836627673
4.0231478272922585
114.52968675394473
-7.958633326259452
62.896250766211345
-3.040387755595218
32.827031261126535
1.7131384395992044
31.00759258820026
4.7824713794012155
22.911567133375954
1.7531391405807037
-79.13920856186306
-14.390310308542501
102.87688776957393
1.1019832308741722
52.74651133554038
-1.9720218711162447
34.389649353084565
0.33091137031460527
19.985968641158376
2.6528112706853544
18.62265146165915
-2.5921001039908624
-85.57014972391644
-27.722862340812615
112.5113618883808
-13.25665102751219
42.80967661182039
-11.110934047254801
34.731891549489355
-11.002443903326103
30.772029324256305
-11.150999626521543
23.47493759061157
-10.958880316257162
-90.72877652933833
-2.116647029119677
120.0765229353854
1.090014064697609
41.36425120772947
14.92017059434633
22.190767327615944
5.149571193551841
18.55448679374543
0.8199345614130986
11.179700872905839
6.421769086615161
-90.86023265100386
-9.712075633863343
126.8760907504363
-10.297202797202797
51.61566946014422
0.7969766305884772
36.27158415589053
-0.4810211873923785
22.516033175979388
2.506792748261517
16.40259973643225
6.235767860129425
-83.30507653555512
-6.854780211809082
118.91597227630245
-5.343104122941197
58.30733962193243
-9.353337764694711
47.49895244081291
-6.058131070115943
35.833223081139316
-6.223910502588078
41.23451294606425
-4.006933865630089
-81.61232776263803
0.15475269329206595
122.220241278897
-1.9549113470435642
67.37221100867383
-9.295655291548515
43.53731718710698
-2.8989861058956063
28.362595715059168
-5.918092713103559
26.400734391511797
4.389609512228077
-80.8063811542382
18.566129983983814
100.89225409690377
-6.593173252172066
50.26805842347548
-0.3454274980459393
29.82618156057079
4.914981729598051
25.210599151101988
2.369949485583734
21.224131934380615
3.8703160210162646
-78.98132056579234
-9.086926762491444
119.76751189544059
23.62831615873712
83.43253638368859
-10.536524644844734
43.41253866832372
-15.90981877095814
87.82169400774026
10.21738482182794
9.714458867900024
12.085470507003354
-84.9998569948232
52.76327368729833
12.285653935518559
60.67037195382642
2.7508727861035425
25.832716122917237
11.999637784061676
10.586103740509074
12.592262725692658
16.318573309169476
65.27601913292817
-22.9831974059153
-69.79100216892064
7.5426625664849745
63.55480830592509
20.809103255772072
40.96494796696966
13.147117204246591
16.15478373968543
16.802723597132914
6.984757528311445
14.660088292936162
2.5291309841358975
18.443753722708696
-83.58944716598508
-0.18961630582820646
103.18607701401592
2.8026480711169777
44.54765853562388
10.058673648285374
32.87084236013763
9.38565257180308
18.692527738300956
4.322876267631934
14.380916319575917
6.025409971384548
-72.36335886281876
-46.09384857812743
204.5040091887449
-27.36515053192535
91.9061202489743
-30.092929842201382
90.08833484685874
-26.259213255313213
98.90296573567521

/tmp/ipykernel_60270/1791325320.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solid_state["수입금액증감률"][num] = a*100

KeyError: 189

In [7]:
solid_state = solid_state.drop(188)
solid_state

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,79537,0.0,38165,0.0,82368,-16.228390,21375,0.0
1,1,1,2007-02-01,77545,0.0,43949,0.0,69001,103.457921,22342,0.0
2,2,2,2007-03-01,173279,0.0,83251,0.0,140388,-17.268570,42285,0.0
3,3,3,2007-04-01,135458,0.0,75163,0.0,116145,61.031469,37539,0.0
4,4,4,2007-05-01,225611,0.0,113828,0.0,187030,4.776774,57298,0.0
...,...,...,...,...,...,...,...,...,...,...,...
183,183,183,2022-04-01,2756683,71.8,548808,31.5,406307,91.906120,359835,22.9
184,184,184,2022-05-01,4026388,65.4,889044,28.9,779728,-30.092930,556095,24.0
185,185,185,2022-06-01,4097236,55.9,800964,24.6,545085,90.088335,522102,20.0
186,186,186,2022-07-01,4897592,42.2,1093204,20.9,1036143,-26.259213,738235,16.6
187,187,187,2022-08-01,5069561,29.8,1014689,15.8,764060,98.902966,731503,17.2

In [8]:
num=0
for i in processor_controller["수입금액"]:
    
    a = (processor_controller["수입금액"][num+1] -  processor_controller["수입금액"][num])/processor_controller["수입금액"][num]
    processor_controller["수입금액증감률"][num] = a*100
    print(processor_controller["수입금액증감률"][num])
    num+=1

/tmp/ipykernel_60270/3710883243.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processor_controller["수입금액증감률"][num] = a*100

-14.728190138528605
126.13325793987372
-11.449807692986887
60.92503287506995
-8.411266839052697
42.42985140865461
-5.1467232596977945
27.26159767743993
1.4943724938757548
21.019868556133478
-1.0055971299187922
-81.65715813893642
-12.6639323438585
117.20265288939669
-3.383335435199828
54.91683159167392
-3.4395724817300364
39.51126107748765
-3.5074101865318683
28.664805840836294
-2.6880912670619357
15.935165724092549
-4.888950652491481
-88.48768031430436
-21.665950876331884
144.88267698275823
4.7309721326814484
54.3046861246208
4.261550503535479
39.30425273589028
0.5971123892805127
29.006007128235733
-0.5209063577093461
19.072417996568575
-0.9776907483340584
-83.45843492736572
-12.342236229162024
142.8752490684899
-7.027974833764383
61.74282997039672
-2.0270834631513495
44.92152268389241
-5.7586230643261755
32.18862273075864
-2.9955418320295126
25.481837639859062
-2.6386511904796723
-83.11487849409812
-10.610344113953625
128.00690993203207
-8.002091449454417
61.9392433865367
-5.132555156656655
46.18996317429274
-6.1449416906995316
35.0954632139128
-4.201666081771963
26.378433141894075
-3.613524089919165
-82.08610809275399
-4.357594580944375
111.21278734598712
-6.514621048828198
58.5582920066869
-3.7350893699192347
37.49275639452831
-2.2468221054322846
28.284784471987013
1.6977992603937602
19.525855915970347
0.060603678743287454
-82.11195258122311
-19.750201337907853
147.27918385183725
-8.712132911959083
68.92274232537103
-12.252118307260853
48.7927920326788
-10.704778505618824
41.098325531790884
-7.41583660011646
28.040757183581793
-6.814206236421293
-82.91953687166108
-10.922768272141651
118.6103069224216
-1.7166537605468726
51.67828374290801
1.476408086083472
38.08156333986648
2.4662739660884068
28.828489645447338
2.768316062893468
19.9344568359717
2.628777772621214
-78.94994782824548
-17.73557244302194
126.93489700713334
-4.1528514741068046
55.31642400861857
-4.868649220385814
42.383317258934255
-5.811704395887264
30.47783778627307
-1.7225630954389295
20.89406749363101
-3.1454247262012145
-84.97077202047181
5.29687780055713
106.0921571606057
-5.15964460315324
51.90001002717051
-0.5654845860509843
35.003645545474214
0.17324997868831288
25.107490964779927
0.1727542256153351
19.3697944769257
1.6819828813256028
-84.91892006574834
-9.668398040819953
138.91705403418234
-15.529802312851466
73.10735830902144
-9.837337561630735
50.9418775825875
-5.9219029587447345
36.49735518576922
-4.384273892395695
25.06997013605932
-4.310609039048472
-82.48747547509075
-22.005445254026995
149.7868933848477
-14.34016933777253
73.6317335449738
-8.993303424862134
47.55958638469719
-5.645745968634017
29.208168752818025
-2.526572307859167
20.20757885805984
-2.745120017645134
-84.00033708651908
-22.71083068171608
153.90542085784065
-13.238988658982842
71.1800616068833
-10.839989348250036
59.60423609912608
-10.97794035665882
41.536304270113234
-9.334663182852234
32.00640917805283
-5.335681921592027
-80.98889544612686
-1.7779738241404486
120.14013538527072
-14.623050887374351
63.99624402505126
-9.065862628595328
55.63470179930016
-9.760310191912133
39.66437363990397
-5.720788105550206
29.8862035873106
-6.155803538025538
-81.12670477410492
-11.615176123100209
128.646186839259
-3.9375229686416984
56.550582589446506
-0.6067475727873791
40.0410961595281
-0.16799378749390076
28.392298043178954
-0.31403420827294837
22.700681811709003
1.1094454712822126
-82.54274063509635
0.74489138820029
113.11595387034355
-1.6717671621288972
54.65137455018525
2.1891928080777148
40.89454778275857
1.0680351490966562
32.69335113227376

KeyError: 189

In [9]:
processor_controller = processor_controller.drop(188)
processor_controller

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,1000815,0.0,604222,0.0,1468361,-14.728190,505631,0.0
1,1,1,2007-02-01,855278,0.0,549151,0.0,1252098,126.133258,449014,0.0
2,2,2,2007-03-01,1982875,0.0,1232465,0.0,2831410,-11.449808,1008277,0.0
3,3,3,2007-04-01,1715911,0.0,1123096,0.0,2507219,60.925033,930466,0.0
4,4,4,2007-05-01,2854957,0.0,1830338,0.0,4034743,-8.411267,1443418,0.0
...,...,...,...,...,...,...,...,...,...,...,...
183,183,183,2022-04-01,5482730,34.1,1275410,1.9,4206176,54.651375,569713,15.4
184,184,184,2022-05-01,9056500,31.3,2014281,2.1,6504909,2.189193,924010,13.4
185,185,185,2022-06-01,8713439,32.4,1910174,1.3,6647314,40.894548,894121,13.1
186,186,186,2022-07-01,12757286,34.4,2618184,-0.6,9365703,1.068035,1256788,12.0
187,187,187,2022-08-01,12451040,34.4,2565895,-1.2,9465732,32.693351,1242460,11.7

In [10]:
cylinder = cylinder.drop(cylinder.columns[[0,1,2,3,4,5,6,7,9,10]], axis=1)

cylinder.head(5)

      수입금액증감률
0  -36.282625
1  252.253596
2   -9.987863
3   75.658754
4    2.626474

In [11]:
cylinder.head(5)
cylinder.columns = ['cylinderRate']
cylinder.head(5)

   cylinderRate
0    -36.282625
1    252.253596
2     -9.987863
3     75.658754
4      2.626474

In [12]:
machine_component = machine_component.drop(machine_component.columns[[0,1,2,3,4,5,6,7,9,10]], axis=1)
machine_component.head(5)

   수입금액증감률
0     -1.7
1      2.5
2     -3.5
3     -4.7
4     -7.5

In [13]:
machine_component.head(5)
machine_component.columns = ['machine_componentRate']
machine_component.head(5)

   machine_componentRate
0                   -1.7
1                    2.5
2                   -3.5
3                   -4.7
4                   -7.5

In [14]:
memory = memory.drop(memory.columns[[0,1,2,3,4,5,6,7,9,10]], axis=1)
memory.head(5)

   수입금액증감률
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

In [15]:
memory.columns = ['memoryRate']
memory.head(5)

   memoryRate
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

In [16]:
printed_circuit_board = printed_circuit_board.drop(printed_circuit_board.columns[[0,1,2,3,4,5,6,7,9,10]], axis=1)
printed_circuit_board.head(5)

   수입금액증감률
0      3.1
1     -7.1
2     -4.4
3      0.5
4     -1.0

In [17]:
printed_circuit_board.columns = ['printed_circuit_boardRate']
printed_circuit_board.head(5)

   printed_circuit_boardRate
0                        3.1
1                       -7.1
2                       -4.4
3                        0.5
4                       -1.0

In [18]:
solid_state = solid_state.drop(solid_state.columns[[0,1,2,3,4,5,6,7,9,10]], axis=1)
solid_state.head(5)

      수입금액증감률
0  -16.228390
1  103.457921
2  -17.268570
3   61.031469
4    4.776774

In [19]:
solid_state.columns = ['solid_stateRate']
solid_state.head(5)

   solid_stateRate
0       -16.228390
1       103.457921
2       -17.268570
3        61.031469
4         4.776774

In [20]:
processor_controller= processor_controller.drop(processor_controller.columns[[0,1,2,3,4,5,6,7,9,10]], axis=1)
processor_controller.head(5)

      수입금액증감률
0  -14.728190
1  126.133258
2  -11.449808
3   60.925033
4   -8.411267

In [21]:

processor_controller.columns = ['processor_controllerRate']
processor_controller.head(5)

   processor_controllerRate
0                -14.728190
1                126.133258
2                -11.449808
3                 60.925033
4                 -8.411267

In [22]:
cylinder.to_csv('./dataset/cylinder_coverd.csv')
file_path2_1 = './dataset/cylinder_coverd.csv'
cylinder_coverd = pd.read_csv(file_path2_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
cylinder_coverd.columns = ['Num', 'cylinderRate']
cylinder_coverd.head(5)

   Num  cylinderRate
0    0    -36.282625
1    1    252.253596
2    2     -9.987863
3    3     75.658754
4    4      2.626474

In [23]:
memory.to_csv('./dataset/memory_coverd.csv')
file_path2_1 = './dataset/memory_coverd.csv'
memory_coverd = pd.read_csv(file_path2_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
memory_coverd.columns = ['Num', 'memoryRate']
memory_coverd.head(5)

   Num  memoryRate
0    0         0.0
1    1         0.0
2    2         0.0
3    3         0.0
4    4         0.0

In [24]:
machine_component.to_csv('./dataset/machine_component_coverd.csv')
file_path4_1 = './dataset/machine_component_coverd.csv'
machine_component_coverd = pd.read_csv(file_path4_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
machine_component_coverd.columns = ['Num', 'machine_componentRate']
machine_component_coverd.head(5)

   Num  machine_componentRate
0    0                   -1.7
1    1                    2.5
2    2                   -3.5
3    3                   -4.7
4    4                   -7.5

In [25]:
printed_circuit_board.to_csv('./dataset/printed_circuit_board_coverd.csv')
file_path5_1 = './dataset/printed_circuit_board_coverd.csv'
printed_circuit_board_coverd = pd.read_csv(file_path5_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
printed_circuit_board_coverd.columns = ['Num', 'printed_circuit_boardRate']
printed_circuit_board_coverd.head(5)

   Num  printed_circuit_boardRate
0    0                        3.1
1    1                       -7.1
2    2                       -4.4
3    3                        0.5
4    4                       -1.0

In [26]:
solid_state.head(5)
solid_state.to_csv('./dataset/solid_state_coverd.csv')
file_path6_1 = './dataset/solid_state_coverd.csv'
solid_state_coverd = pd.read_csv(file_path6_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
solid_state_coverd.columns = ['Num', 'solid_stateRate']
solid_state_coverd.head(5)

   Num  solid_stateRate
0    0       -16.228390
1    1       103.457921
2    2       -17.268570
3    3        61.031469
4    4         4.776774

In [27]:
processor_controller.head(5)
processor_controller.to_csv('./dataset/processor_controller_coverd.csv')
file_path7_1 = './dataset/processor_controller_coverd.csv'
processor_controller_coverd = pd.read_csv(file_path7_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
processor_controller_coverd.columns = ['Num', 'processor_controllerRate']
processor_controller_coverd.head(5)

   Num  processor_controllerRate
0    0                -14.728190
1    1                126.133258
2    2                -11.449808
3    3                 60.925033
4    4                 -8.411267

In [28]:
SampleData3=pd.concat([cylinder_coverd,memory_coverd,machine_component_coverd,printed_circuit_board_coverd,solid_state_coverd,processor_controller_coverd], axis=1)
SampleData3 = SampleData3.drop(SampleData3.columns[[0,2,4,6,8,10]], axis=1)
SampleData3.head(5)

,cylinderRate,memoryRate,machine_componentRate,printed_circuit_boardRate,solid_stateRate,processor_controllerRate
0,-36.282625,0.0,-1.7,3.1,-16.228390,-14.728190
1,252.253596,0.0,2.5,-7.1,103.457921,126.133258
2,-9.987863,0.0,-3.5,-4.4,-17.268570,-11.449808
3,75.658754,0.0,-4.7,0.5,61.031469,60.925033
4,2.626474,0.0,-7.5,-1.0,4.776774,-8.411267

In [29]:
SampleData3

,cylinderRate,memoryRate,machine_componentRate,printed_circuit_boardRate,solid_stateRate,processor_controllerRate
0,-36.282625,0.0,-1.7,3.1,-16.228390,-14.728190
1,252.253596,0.0,2.5,-7.1,103.457921,126.133258
2,-9.987863,0.0,-3.5,-4.4,-17.268570,-11.449808
3,75.658754,0.0,-4.7,0.5,61.031469,60.925033
4,2.626474,0.0,-7.5,-1.0,4.776774,-8.411267
...,...,...,...,...,...,...
184,-2.155217,39.9,46.1,31.2,-30.092930,2.189193
185,28.558926,42.2,43.6,30.8,90.088335,40.894548
186,9.706475,36.6,40.9,28.4,-26.259213,1.068035
187,13.655151,32.7,41.9,26.9,98.902966,32.693351
188,-12.200000,28.2,33.6,25.2,NaN,NaN

In [30]:
SampleData3.to_csv('./dataset/SampleData3for.csv')

In [31]:
def old_groups(values):
    if values > 0:
        return 1
    else:
        return 0

In [32]:
SampleData3['cylinderRate'] = SampleData3['cylinderRate'].apply(old_groups)
SampleData3['memoryRate'] = SampleData3['memoryRate'].apply(old_groups)
SampleData3['machine_componentRate'] = SampleData3['machine_componentRate'].apply(old_groups)
SampleData3['printed_circuit_boardRate'] = SampleData3['printed_circuit_boardRate'].apply(old_groups)
SampleData3['solid_stateRate'] = SampleData3['solid_stateRate'].apply(old_groups)
SampleData3['processor_controllerRate'] = SampleData3['processor_controllerRate'].apply(old_groups)

SampleData3.head

<bound method NDFrame.head of      cylinderRate  memoryRate  machine_componentRate  \
0               0           0                      0
1               1           0                      1
2               0           0                      0
3               1           0                      0
4               1           0                      0
..            ...         ...                    ...
184             0           1                      1
185             1           1                      1
186             1           1                      1
187             1           1                      1
188             0           1                      1

     printed_circuit_boardRate  solid_stateRate  processor_controllerRate
0                            1                0                         0
1                            0                1                         1
2                            0                0                         0
3                            1                1                         1
4                            0                1                         0
..                         ...              ...                       ...
184                          1                0                         1
185                          1                1                         1
186                          1                0                         1
187                          1                1                         1
188                          1                0                         0

[189 rows x 6 columns]>

In [33]:
frequent_itemset = apriori(SampleData3,
                           min_support=0.005, 
                           max_len=3, 
                           use_colnames=True, 
                           
                          )
frequent_itemset['length'] = frequent_itemset['itemsets'].map(lambda x: len(x))
frequent_itemset.sort_values('support',ascending=False,inplace=True)
frequent_itemset

/data/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets  length
1   0.708995                                       (memoryRate)       1
4   0.677249                                  (solid_stateRate)       1
3   0.624339                        (printed_circuit_boardRate)       1
0   0.608466                                     (cylinderRate)       1
9   0.523810                    (solid_stateRate, cylinderRate)       2
2   0.523810                            (machine_componentRate)       1
5   0.513228                         (processor_controllerRate)       1
12  0.481481            (memoryRate, printed_circuit_boardRate)       2
10  0.470899           (processor_controllerRate, cylinderRate)       2
20  0.470899        (processor_controllerRate, solid_stateRate)       2
13  0.465608                      (memoryRate, solid_stateRate)       2
11  0.460317                (memoryRate, machine_componentRate)       2
30  0.444444  (processor_controllerRate, solid_stateRate, cy...       3
6   0.423280                         (memoryRate, cylinderRate)       2
18  0.407407       (solid_stateRate, printed_circuit_boardRate)       2
16  0.359788           (solid_stateRate, machine_componentRate)       2
8   0.354497          (printed_circuit_boardRate, cylinderRate)       2
23  0.349206        (memoryRate, solid_stateRate, cylinderRate)       3
14  0.338624             (processor_controllerRate, memoryRate)       2
24  0.322751  (processor_controllerRate, memoryRate, cylinde...       3
34  0.317460  (memoryRate, solid_stateRate, printed_circuit_...       3
28  0.317460  (solid_stateRate, printed_circuit_boardRate, c...       3
7   0.317460              (machine_componentRate, cylinderRate)       2
32  0.312169  (memoryRate, solid_stateRate, machine_componen...       3
36  0.312169  (processor_controllerRate, memoryRate, solid_s...       3
15  0.291005  (printed_circuit_boardRate, machine_componentR...       2
19  0.285714  (processor_controllerRate, printed_circuit_boa...       2
21  0.280423  (machine_componentRate, memoryRate, cylinderRate)       3
22  0.275132  (memoryRate, printed_circuit_boardRate, cylind...       3
17  0.275132  (processor_controllerRate, machine_componentRate)       2
31  0.269841  (memoryRate, printed_circuit_boardRate, machin...       3
29  0.264550  (processor_controllerRate, printed_circuit_boa...       3
40  0.259259  (processor_controllerRate, solid_stateRate, pr...       3
26  0.259259  (machine_componentRate, solid_stateRate, cylin...       3
27  0.253968  (machine_componentRate, processor_controllerRa...       3
39  0.243386  (processor_controllerRate, solid_stateRate, ma...       3
33  0.227513  (processor_controllerRate, memoryRate, machine...       3
35  0.211640  (processor_controllerRate, memoryRate, printed...       3
37  0.195767  (solid_stateRate, printed_circuit_boardRate, m...       3
25  0.169312  (machine_componentRate, printed_circuit_boardR...       3
38  0.126984  (processor_controllerRate, printed_circuit_boa...       3

In [34]:
frequent_itemset.loc[frequent_itemset['length']> 1]

     support                                           itemsets  length
9   0.523810                    (solid_stateRate, cylinderRate)       2
12  0.481481            (memoryRate, printed_circuit_boardRate)       2
10  0.470899           (processor_controllerRate, cylinderRate)       2
20  0.470899        (processor_controllerRate, solid_stateRate)       2
13  0.465608                      (memoryRate, solid_stateRate)       2
11  0.460317                (memoryRate, machine_componentRate)       2
30  0.444444  (processor_controllerRate, solid_stateRate, cy...       3
6   0.423280                         (memoryRate, cylinderRate)       2
18  0.407407       (solid_stateRate, printed_circuit_boardRate)       2
16  0.359788           (solid_stateRate, machine_componentRate)       2
8   0.354497          (printed_circuit_boardRate, cylinderRate)       2
23  0.349206        (memoryRate, solid_stateRate, cylinderRate)       3
14  0.338624             (processor_controllerRate, memoryRate)       2
24  0.322751  (processor_controllerRate, memoryRate, cylinde...       3
34  0.317460  (memoryRate, solid_stateRate, printed_circuit_...       3
28  0.317460  (solid_stateRate, printed_circuit_boardRate, c...       3
7   0.317460              (machine_componentRate, cylinderRate)       2
32  0.312169  (memoryRate, solid_stateRate, machine_componen...       3
36  0.312169  (processor_controllerRate, memoryRate, solid_s...       3
15  0.291005  (printed_circuit_boardRate, machine_componentR...       2
19  0.285714  (processor_controllerRate, printed_circuit_boa...       2
21  0.280423  (machine_componentRate, memoryRate, cylinderRate)       3
22  0.275132  (memoryRate, printed_circuit_boardRate, cylind...       3
17  0.275132  (processor_controllerRate, machine_componentRate)       2
31  0.269841  (memoryRate, printed_circuit_boardRate, machin...       3
29  0.264550  (processor_controllerRate, printed_circuit_boa...       3
40  0.259259  (processor_controllerRate, solid_stateRate, pr...       3
26  0.259259  (machine_componentRate, solid_stateRate, cylin...       3
27  0.253968  (machine_componentRate, processor_controllerRa...       3
39  0.243386  (processor_controllerRate, solid_stateRate, ma...       3
33  0.227513  (processor_controllerRate, memoryRate, machine...       3
35  0.211640  (processor_controllerRate, memoryRate, printed...       3
37  0.195767  (solid_stateRate, printed_circuit_boardRate, m...       3
25  0.169312  (machine_componentRate, printed_circuit_boardR...       3
38  0.126984  (processor_controllerRate, printed_circuit_boa...       3

In [35]:
frequent_itemset.to_csv('./dataset/Apriori_수입(fin).csv')